main {
    left: 0;
}

.chat-box {
    height: 507px;
    min-width: 375px;
    background-color: #E5E5E5;
    overflow: scroll;
}

.message-divs {
    padding-top: 2px;
    background-color: #E5E5E5;
}
