main {
    left: 0;
}

.chat-box {
    height: 507px;
    min-width: 375px;
    background-color: #E5E5E5;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-divs {
    margin-top: 20px;
    background-color: #E5E5E5;
    margin-bottom: 3px;
}

.span2 {
    font-weight: bold;
}

.span1 {
    color: #AAAAAA;
}