main {
    /* top: 0; */
    left: 0;
}

.chat-box {
    margin-left: 0px;
    height: 507px;
    min-width: 375px;
    
}

.message-divs {
    padding-top: 8px;
    margin-left: 5px;
    background-color: #E5E5E5;
}